body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.home-link{
    text-decoration: none;
}

.page-nav .link{
    color:#2E2F42;
    text-decoration: none;
}

.address-list .address-link{
    color:#434455;
    text-decoration: none;
}

.order-button{
    font-weight:500;
    font-size:16px;
    line-height:24px;
    letter-spacing:4%;
    background-color: #4d5ae5;
    color:white;
}

.page-title{
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

.text-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

.order-button:hover{
    background-color:#404BBF ;
}

.page-nav .link:hover,
.address-list .address-link:hover,
.address-list .address-link:focus{
    color:#404BBF;
}

