.page-body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
}

.accent{
    color:#4D5AE5;
}

.page-header,
.page-header .home-link{
    color:#2E2F42;
}

ul{
    list-style-type: none;
}

.home-link{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em; 
}

.page-nav .link{
    color:#2E2F42;
    text-decoration: none;
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list .address-link{
    color:#434455;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.order-button{
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em;
    background-color: #4d5ae5;
    color:white;
    cursor: pointer;
}

.page-title{
    color:white;
    font-weight: 700;
    font-size: 56px;
    letter-spacing:0.02em;
    line-height:1.07;
    text-align: center;
}

.title-section{
    background-color: #2E2F42;
}

.section-title{
    color:#2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing:0.02em;
    text-align: center;
}

.section-title-features{
    font-weight: 700;
    font-size: 36px;
    letter-spacing:0.02em;
}

.p-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing:0.02em;
    line-height: 1.2;
}

p{
    font-weight:400;
    font-size:16px;
    line-height:1.5; 
    letter-spacing:0.02em;
}

.team-list > li{
    background-color: white;
}

.order-button:focus,
.order-button:hover{
    background-color:#404BBF ;
}

.section-team{
    background-color: #F4F4Fd;
}

.section-team .p-title,
.section-team p{
    text-align: center;
}

.page-footer{
    background-color:#2E2F42;
    color:#F4F4Fd;
}

.page-footer a{
    color:#F4F4Fd;
}

.page-nav .link:hover,
.page-nav .link:focus,
.address-list .address-link:hover,
.address-list .address-link:focus{
    color:#404BBF;
}

.page-nav .link:active{
    text-decoration:underline;
}
 